.App {
  /* text-align: center; */
}

.keyboard {
  display: flex;
  width: 90%;
  margin: 0 auto;
  /* flex-wrap: wrap; */
}

button {
  background-color: #fff;
  height: 150px;
  z-index: 0;
  width: 3em;
  position: relative;
  margin: 0 0 0 -8px;
}

button[class*='#'] {
  background-color: black;
  color: white;
  height: 75px;
  z-index: 4;
  width: 1em;
  margin: 0 0 0 -1em;
}
