.App {
  /* text-align: center; */
}

/* .keyboard {
  display: flex;
  flex-wrap: wrap;
} */

button {
  background-color: #fff;
  height: 150px;
  z-index: -1;
}

button[class*='#'] {
  background-color: black;
  color: white;
  height: 100px;
  z-index: 4;
}
