body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

h2 {
  text-align: center;
}

.musicnotes {
  display: block;
  margin: auto;
  position: relative;
  width: 80vw;
  min-width: 300px;
  height: 200px;
  border: 0px solid rgb(255, 255, 255);
}

.note1,
.note2,
.note3,
.note4 {
  position: absolute;
  animation: notes 2s infinite linear;
  font-size: 35px;
  opacity: 0;
}

.note1 {
  top: 60px;
  left: 0;
  animation-delay: 0.5s;
}

.note2 {
  top: 30px;
  left: 30%;
  animation-delay: 1s;
}

.note3 {
  top: 90px;
  left: 60%;
  animation-delay: 1.5s;
}

.note4 {
  top: 100px;
  left: 90%;
  animation-delay: 2s;
}

@keyframes notes {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.7) translate(50%, -50%);
  }
  80% {
    opacity: 0;
    transform: scale(2.5) translate(100%, -100%);
  }
  100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0;
  }
}

.splash-h1,
.splash-h2,
.splash-h3 {
  text-align: center;
}

.splash-btn-ctr {
  width: 50vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.splash-btn {
  width: 20vw;
  height: 20vh;
  font-size: 1.5rem;
  font-weight: bold;
}

.splash-btn:hover {
  background-color: black;
  color: white;
}
